In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import statistics

In [3]:
%matplotlib inline

In [8]:
#FILES TO LOAD

city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)
city_data_df.head(10)

            city  driver_count   type
0    Richardfort            38  Urban
1   Williamsstad            59  Urban
2    Port Angela            67  Urban
3     Rodneyfort            34  Urban
4    West Robert            39  Urban
5   West Anthony            70  Urban
6    West Angela            48  Urban
7  Martinezhaven            25  Urban
8      Karenberg            22  Urban
9    Barajasview            26  Urban

In [11]:
city_data_df.count()

city            120
driver_count    120
type            120
dtype: int64

In [12]:
city_data_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [13]:
city_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [14]:
city_data_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)